---
tabs:
    reels:
        label: "Reels"
        icon: "fas fa-film"
    projects:
        label: "Projects"
        icon: "fas fa-clipboard-check"
    music:
        label: "Music"
        icon: "fas fa-music"
    compositions:
        label: "Compositions"
        icon: "fas fa-scroll"
---


-####################-
-# STYLES & SCRIPTS #-
-####################-
- content_for :styles do
    = stylesheet_link_tag "site"
- content_for :apps do
    = javascript_include_tag "portfolio", type: :module


-################-
-# HERO SECTION #-
-################-
%section.hero.is-primary
    %div(class="hero-body is-flex is-flex-direction-column |
    is-align-items-center has-text-centered") |
        %figure.image.is-128x128.is-inline-block
            %img.is-square(src="assets/logo-big.svg" alt="Logo")/
        %h1.title.is-1 Ayson Audio
        %h3.subtitle.is-3 sound designer, composer, developer

-#################-
-# PORTFOLIO SPA #-
-#################-
%section#tabs
    .tabs.is-centered
        %ul
            - current_page.data.tabs.each do |k,v|
                = partial "parts/tab", locals: {label:v.label, icon:v.icon}
%section.px-5#reels
%section.px-5#projects
%section.px-5#music
%section.px-5#compositions
