-# local parameter: YAML Object
-#
-#     a_class: string
-#     Anchor class. Used as a tag by JavaScript
-#
-#     type: string
-#     ID substring used to program JavaScript buttons to hide / unhide pages
-#
-#     icon: string
-#     CSS classes from Font Awesome

%li
    %a(class=a_class)
        %span.icon
            %i(class=icon)
        %span= label
