-# local parameter: YAML Object
-#
-#     pages: int
-#     Number of page buttons and pages (containers in sections) to create
-#
-#     type: string
-#     An ID substring used to program JavaScript buttons -> hide / unhide : pages
-#
-#     icon: string
-#     CSS classes from Font Awesome

%nav.pagination.is-centered.my-5(role="navigation" aria-label="pagination")
    %ul.pagination-list
        - for n in 0..(pages-1)
            %li
                %a.pagination-link(id="btn-#{type}-#{n}" aria-label="Goto page #{n+1}")
                    %span.icon
                        %i(class=icon)
                    %span= n+1
