-# local parameter: YAML Object
-#
-#     vid?: string
-#     A link to a YouTube video
-#
-#     splash?: YAML Object
-#     A large image shown above the text description
-#
-#         src: string
-#         URI to an image file
-#
-#         alt?: string
-#         Alt text if image fails
-#     
-#     emblem?: YAML Object
-#     A small image shown next to the text description
-#
-#         src: string
-#         URI to an image file
-#
-#         alt?: string
-#         Alt text if image fails
-#
-#     icon?: string
-#     CSS classes from Font Awesome
-#
-#     title?: string
-#     Primary text description
-#
-#     subtitle?: string
-#     Secondary text description
-#
-#     links?: Array of YAML Objects
-#     A group of anchor buttons
-#
-#         href: string
-#         URI to link to
-#
-#         label: string
-#         Anchor button text

.card(style="max-width: 640px")
    - if defined?(vid) || defined?(splash)
        .card-image
            - if defined?(vid)
                %iframe{
                    src: vid,
                    style: "max-width: 100%",
                    width: "640",
                    height: "360",
                    frameborder: "0",
                    allowfullscreen: ""}
            - if defined?(splash)
                %figure.image
                    %img{src:splash.src, alt:splash.alt||""}/
                
    - if defined?(emblem) || defined?(icon) || defined?(title) || defined?(subtitle)
        .card-content
            .media
                .media-left.is-hidden-mobile
                    - if defined?(emblem)
                        %figure.image.is-96x96
                            %img{src:emblem.src, alt:emblem.alt||""}/
                    - if defined?(icon)
                        %span.icon.is-large
                            %i(class=icon)
                .media-content.is-clipped
                    - if defined?(title)
                        %p.title.is-3= title
                    - if defined?(subtitle)
                        %p.subtitle.is-6{style: "
                            white-space: pre-line;
                            font-variant: small-caps
                        "}= subtitle
    - if defined?(links)
        %footer.card-footer
            - if defined?(links)
                - for link in links
                    %a.card-footer-item{href:link.href}= link.label
